*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%; // 9px / 16px
  }

  @include respond(tab-port) {
    font-size: 50%; // 8px / 16px
    overflow-x: hidden;
  }
}

body {
  box-sizing: border-box;
  background-color: $color-grey-light-1;
  font-family: "Montserrat", sans-serif;
}

::selection {
  background-color: $color-primary-light-2;
}
