// COLORS
$color-primary: #c70039;
$color-primary-dark-1: #9f002d;
$color-primary-dark-2: #5f001b;
$color-primary-light-1: #cc194c;
$color-primary-light-2: #e9557f;

$color-grey-light-1: #f2f2f2;
$color-grey-light-2: #d9d9d9;
$color-grey-light-3: #c2c2c2;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-dark: #191919;

$color-white: #fff;
$color-black: #000;

// BORDER RADIUS
$br-normal: 5px;
$br-large: 10rem;
$br-circle: 50%;

// BOX SHADOW
$bs-normal: 0 1.5rem 4rem rgba(#000, 0.15);
